[submodule "themes/themes/next1"]
	path = themes/themes/next1
	url = https://github.com/theme-next/hexo-theme-next
[submodule "themes/next1"]
	path = themes/next1
	url = https://github.com/theme-next/hexo-theme-next
